<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Confirmar eliminación</title>
</head>
<body>
    
        <h1>Confirmar Eliminación</h1>
        <p>¿Estás seguro de que deseas eliminar el post "{{ post.titulo }}"?</p>

    
        <form method="post">
            {% csrf_token %}
            <button type="submit">Confirmar Eliminación</button>
            <a href="{% url 'post_detail' post.pk %}">Cancelar</a>
        </form>
    
    <footer>
        <p>&copy; Derechos de autor Stefy</p>
    </footer>
</body>
</html>
